body {
  padding:0;
  margin:0;
  font-family: Montserrat;
  color: black;
}
.nav {
  display: flex;
  justify-content:space-between;
  position: absolute;

  padding: 55px;
}
nav ul {
  padding: 0;
  margin: 0;

  max-width: 125px;
  width: 100%;
  display: flex;
  justify-content: space-between;

}
nav ul li {
  list-style-type: none;
  padding-right: 20px;
}
nav a {
  text-decoration: none;
}
header {
  background-image: url(Group1.png);
  width: 50%;
  height: 537px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
